.username-text {
  font-family: "pilowlava";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgb(255, 255, 255);
  line-height: 1;
}

.username-flexbox {
  display: flex;
  padding: 40px 0 40px;
}

.username-profil {
  margin-right: 10px;
  width: 60px;
}

.username-all {
  background-color: black;
}
