/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  background: url(../img/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

@font-face {
  font-family: "pilowlava";
  src: url("../font/Pilowlava-Regular.woff2") format("woff2");
}

body {
  display: flex;
  justify-content: center;
}
